body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: #eeeeee;
}


/* Container */

.container {
    width: 75%;
}


/* Navbar */

.navbar {
    padding-top: 2rem;
}

.navbar-brand {
    text-align: left;
}

#nav-name {
    margin-bottom: 0%;
    font-size: 2.5rem;
    font-weight: 500;
}

#nav-sub {
    font-weight: 300;
}

.navbar-nav {
    position: absolute;
    margin: auto;
    right: 0rem;
    font-size: large;
    font-weight: 500;
}


/* Main body */

#main {
    margin-top: 3rem;
}

#profile {
    position: relative;
    width: 350px;
    border-radius: 50%;
    padding-left: 0;
}

#intro {
    height: 100px;
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}

#directs {
    margin: 0px;
    padding: 0px;
}

button:focus,
[type="submit"]:focus {
    outline: none;
}

.circle {
    position: relative;
    text-align: center;
    margin: 1rem;
    background-color: #3797a4;
    color: white;
    width: 7rem;
    height: 7rem;
    border: 0;
    border-radius: 50%;
    outline: 0;
    opacity: 0.6;
    transition: 0.3s;
}

.circle:hover {
    opacity: 1;
}

.circle-text {
    font-size: 1.35rem;
    position: absolute;
    top: 50%;
    width: 75%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#quote {
    height: 100px;
    width: 100%;
    margin: 0 0.125rem;
    position: relative;
}

.quote-text,
.quote-icon {
    opacity: 50%;
}

.quote-align {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -166px;
}

.quote-text {
    font-size: 1rem;
    margin-top: 0.125rem;
}

.icon-left {
    position: absolute;
    left: 0;
}

.icon-right {
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

h2 {
    font-weight: 400;
}

h4 {
    font-weight: 300;
}

footer {
    margin-top: 3rem;
    padding: 3rem;
    background-color: #393e46;
    color: #eeeeee;
}

.follow-icon,
.heading-icon {
    margin: 0 .25rem;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
    .navbar-nav {
        position: inherit;
        font-size: 1.125rem;
    }
    .navbar-brand {
        width: 50%;
    }
    #nav-name {
        font-size: 2rem;
    }
    #nav-sub {
        font-size: 1.125rem;
    }
    .body-container {
        margin-top: 2rem;
    }
    #intro,
    #directs,
    #quote {
        margin: 2rem 0;
    }
    .circle {
        opacity: 100%;
        width: 6.75rem;
        height: 6.75rem;
        margin: 0.3rem
    }
    .quote-icon {
        font-size: 1rem;
    }
    footer {
        text-align: left;
    }
    .follow-me {
        margin: 1rem 0;
    }
    .copyright {
        margin-top: 1rem;
    }
}